html
	head
		title Obama vs Romney

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='javascripts/main.js')
	body
		h2 Obama vs Romney